.text-type {
  display: inline-block;
  white-space: pre-wrap;
  font-weight: 500;
}

.text-type__cursor {
  margin-left: 6px;
  display: inline-block;
  color: #22c55e;
  font-weight: bold;
}

.text-type__cursor--hidden {
  display: none;
}
